extends layout

block title
	title= title

block body
	h1 View Order
	a(href="/Orders/Edit/" + order[0].order_id, class="btn btn-default") Edit Order
	| &nbsp; &nbsp;
	a(href="/Customers/" + order[0].customer_id, class="btn btn-default") View customer
	h3 Customer Details
	- var total = 0
	- var inventoryCost = 0
	- var grossTotal = 0
	- var counter = 0
	each product in itemList
		- counter = counter + 1
		case counter
			when 1
				if product.order_quantity === 1
					- grossTotal = grossTotal + product.product_first_stone_earning
				else if product.order_quantity === 2
					- grossTotal = grossTotal + product.product_first_stone_earning + product.product_second_stone_earning
					- counter = 4
				else if product.order_quantity === 3 && counter === 1
					- grossTotal = grossTotal + product.product_first_stone_earning + product.product_second_stone_earning + product.product_third_stone_earning
					- counter = 4
				else
					- grossTotal = grossTotal + product.product_first_stone_earning + product.product_second_stone_earning + product.product_third_stone_earning*(product.order_quantity-2)
			when 2
				if product.order_quantity === 1
					- grossTotal = grossTotal + product.product_second_stone_earning
				else if product.order_quantity === 2
					- grossTotal = grossTotal + product.product_second_stone_earning + product.product_third_stone_earning
				else
					- grossTotal = grossTotal + product.product_second_stone_earning + product.product_third_stone_earning*(product.order_quantity-1)
		
			default
				- grossTotal = grossTotal + product.product_third_stone_earning*product.order_quantity	
	
	table.table.table-striped
		thead
			tr
				th First Name
				th Last Name
				th Email
				th Username 
		tbody
      
			tr
				td= order[0].first_name
				td= order[0].last_name
				td= order[0].email
				td= order[0].username
	h3 Order Details
	table.table.table-striped
		thead
			tr
				th Date
				th Platform
				th Additional Cost
				th Notes
		tbody
			tr
				td= order[0].date
				td= order[0].platform_name
				td= order[0].additional_cost
				td= order[0].order_notes

	h3 Items Purchased
	if itemList != null
		table.table.table-striped
			thead
				tr
					th Product Name
					th Price
					th Quantity
					th Feedback Given
					th Total
					th Action
			each val in itemList
				tbody
					tr
						td= val.product_name
						td= val.price
						td= val.order_quantity
						td
							if val.feedback_message != 0 && val.feedback_message != null
								| Yes
							else
								| No
						td= val.price*val.order_quantity
						td
							a(href="/Orders/Item/" + val.order_details_id, class="btn btn-default btn-xs") Edit
						- total += val.price*val.order_quantity
						- inventoryCost += val.order_inventory_cost*val.order_quantity
	a(href="/Orders/Item/New/" + order[0].order_id, class="btn btn-primary") Add new Item
	br
	br
	.alert.alert-success
		| Total:
		= "$  " + total
		br
		| Grand Total:
		= "$  " + (total + order[0].additional_cost)
		br
		| Inventory Cost:
		= "$ " + inventoryCost
		br
		strong Gross total:
		= "$  " + grossTotal
		br
